<div class="bg-image">
    <div style="height: 100vh; margin-top: 240px; padding-left: 24px;">
        <h1 class="display-3 text-left text-dark font-weight-bold text-primary">employee manager</h1>
        <div class="col-4 ">
            <param>The human resource management website also specifically optimizes the work process. Ensure user compatibility, simple and professional administration. Along with that, the information security is very high, can resist the attack of users.
          </div>
      </div>
      
    
      
      
</div>